$darkBlue_text:#330cf4;
$black_text:#282528;
$white_text:#ffffff;
$gray_text:#797779;
$gray_text2:#f7f0f7;
$cyan_text:#31d4e7;
$whiteBlue_text:#0098cd;
$purple_text:#9980c9;
$purple-wite: #f6f0ff;
$purple: #944dd3;
$violet-wite: #733fd7;
$violet: #302384;
$violet-black: #1c0c4e;
$green_text: green;
